.modal {
  animation: scaleUp 0.50s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}